@using Shop.ViewModels
@model PhonesListViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
    
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <h1>Все телефоны</h1>
    <h3>@Model.currCategory</h3>
    @{
        foreach (var phone in Model.allPhones)
        {
                <div>
                    <h2>Модель: @phone.name</h2>
                    <p>Цена: @phone.price.ToString("c")</p>
                </div>  
        }
    }
   
</body>
</html>